.nav-shadow {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cart {
  display: block;
  position: relative;
}

.cart-amount {
  position: absolute;
  top: -0.1rem;
  right: -0.1rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-form {
  width: 600px;
}

.auth-form {
  width: 450px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0.5rem;
  padding: 0.5rem;
}

.grid-item {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 4px 2px;
}

@media screen and (max-width: 400px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 401px) and (max-width: 640px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 641px) and (max-width: 840px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 841px) and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1025px) {
  .grid-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* Product page */
.min-page-height {
  min-height: 100vh;
}

.product-img {
  width: 30%;
}

.single-product + article::before {
  content: "";
  display: block;
  border-bottom: 1px solid #cfd8dc;
  margin-bottom: 15px;
}

/* Modal */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #fff;
  width: 80vw;
  max-width: 600px;
}

.chev-down {
  position: relative;
}

.sign-in {
  position: absolute;
  top: 4rem;
}

/* Hero */
@keyframes wiggle {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
}

.animate-wiggle {
  animation: wiggle 2s infinite;
}

/* Admin dashboard */
.dashboard {
  background-color: #1d2634;
  color: #9e9ea4;
}

table {
  width: 100%;
  margin-top: 10px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 2px;
}

/* Checkout page */
@keyframes expandContract {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.animate-text {
  animation: expandContract 10s infinite;
  background: linear-gradient(45deg, #ff8a00, #e52e71);
}
